= form_for [:admin, @animal], html: {class: 'form-horizontal', :multipart => true } do |f|

  .form-group
    = f.label "Порода*", class: "col-lg-2 control-label"
    .col-lg-5
      = f.text_field :animal_type, class: "form-control"
  .form-group
    = f.label "Ім’я", class: "col-lg-2 control-label"
    .col-lg-5
      = f.text_field :name, class: "form-control"
  .form-group
    = f.label "Стать", class: "col-lg-2 control-label"
    .col-lg-5
      = f.select :sex, [['Будь-яка', "Будь-яка"],['Самець', 'Самець'],['Самка','Самка']], {:selected=> 'any'}, class: "col-lg-5 form-control"
  .form-group
    = f.label "Вік", class: "col-lg-2 control-label"
    .col-lg-5
      = f.select :age, [['Будь-який', 'Будь-який'],['Малюк(0-2 роки)','Малюк(0-2 роки)'],['Молодий (2-5 роки)', 'Молодий (2-5 роки)'],['Дорослий (5-9 років)','Дорослий (5-9 років)'],['Старий (>10)','Старий (>10)']], {:selected=> 'any'}, class: "col-lg-5 form-control"
  .form-group
    = f.label "Розмір", class: "col-lg-2 control-label"
    .col-lg-5
      = f.select :size, [['Будь-який', 'Будь-який'],['Малий (<10 кг)', 'Малий (<10 кг)'],['Середній (10-25 кг)','Середній (10-25 кг)'],['Великий (> 25 кг)','Великий (> 25 кг)']], {:selected=> 'any'}, class: "col-lg-5 form-control"
  .form-group
    = f.label "Стерилізація", class: "col-lg-2 col-md-1 col-sm-1 col-xs-1 control-label"
    .col-lg-5
      = f.select :sterile, [['Так', 'Так'],['Ні','Ні']], include_blank: true, class: "col-lg-5 form-control"
  .form-group
    = f.label "Опис", class: "col-lg-2 control-label"
    .col-lg-5
      = f.text_area :description, class: "form-control", :rows => "3"
  .form-group
    = f.label "Додати фото", class: "col-lg-2 control-label"
    = f.file_field :photo, class: "col-lg-5"
  .actions
  .form-group
    .col-lg-5.col-lg-offset-2
      %button.btn.btn-default{:type => "reset"} Стерти
      = f.submit 'Зберегти', class: "btn btn-primary"