- if @animal.errors.any?
  %h2= "#{pluralize(@animal.errors.count, "error")} Недопущено для збереження:"
  .alert.alert-dismissible.alert-danger
    %button.close{"data-dismiss" => "alert", :type => "button"} ×
    %strong Помилка!
    %ul
      - @conference.errors.full_messages.each do |message|
        %li= message

%fieldset.col-lg-8
  %legend Редагування тварини
  = render 'form'

= link_to 'Показати', @animal
\|
= link_to 'Назад', animals_path
