.container
  %h2 Огляд тварин
  / = render "layouts/search_box"

  %table#animals.data_table.cell-border.table.table-striped.table-hover
    %thead
      %tr
        %th ID
        %th Ім'я
        %th Порода
        %th Стать
        %th Розмір
        %th Вік
        %th Стерилізація
        %th Опис
        %th.unvisible
        %th.unvisible
        %th.unvisible
        %th.unvisible
    %tbody
      - @animals.each do |animal|
        %tr
          %td= animal.id
          %td= link_to(animal.name, animal)
          %td= animal.animal_type
          %td= animal.sex
          %td= animal.size
          %td= animal.age
          %td= animal.sterile
          %td= animal.description
          %td= image_tag (animal.photo.url(:thumb)) unless animal.photo.nil?
          %td= link_to 'Показати', animal, class: "btn btn-xs btn-primary"
          %td= link_to 'Редагувати', edit_admin_animal_path(animal), class: "btn btn-xs btn-warning"
          %td= link_to 'Видалити', animal, :method => :delete, :data => { :confirm => 'Ви впевнені?' }, class: "btn btn-xs btn-danger"

  = link_to 'Додати тварину', new_admin_animal_path

  / = search_form_for @q, url: search_admin_animals_path,
  /                       html: { method: :post } do |f|
  /   = f.condition_fields do |c|
  /     = render "condition_fields", f: c
  /   %p= link_to_add_fields "Add Conditions", f, :condition
  /   .field
  /     Sort:
  /     = f.label :name, "Name"
  /     = f.sort_fields do |s|
  /       = s.sort_select
  /   .large-4.small-3.columns
  /   .actions= f.submit "Search"

  / %table#animals
  /   %tr
  /     %th= sort_link @q, :name, "Name"
  /     %th= sort_link @q, :age, "Age"
  /     %th= sort_link @q, :size, "Size"
  /   - @animals.each do |animal|
  /     %tr
  /       %td= link_to(animal.name, animal)
  /       %td= animal.released_on.strftime("%B %e, %Y")
  /       %td= number_to_currency(animal.price)

