%p#notice= notice
.container
  .col-sm-6.col-md-4.col-lg-3.clearfix.visible-sm-block
  %p
    %b Порода:
    = @animal.animal_type
  %p
    %b Ім'я:
    = @animal.name
  %p
    %b Стать:
    = @animal.sex
  %p
    %b Розмір:
    = @animal.size
  %p
    %b Вік:
    = @animal.age
  %p
    %b Стерилізація:
    = @animal.sterile
  %p
    %b Опис:
    = @animal.description

  .col-md-4
    = image_tag @animal.photo.url(:medium)
    = image_tag @animal.photo.url(:thumb)
    
  = link_to 'Редагувати', edit_animal_path(@animal)
  \|
  = link_to 'Назад', animals_path
