= form_for @news, html: {class: 'form-horizontal'} do |f|

  .form-group
    = f.label :title, class: "col-lg-2 control-label"
    .col-lg-5
      = f.text_field :title, class: "col-lg-5 form-control"
  .form-group
    = f.label :text, class: "col-lg-2 control-label"
    .col-lg-5
      = f.text_area :text, :rows => "3", class: "col-lg-5 form-control"
  .actions
    .form-group
      .col-lg-10.col-lg-offset-2
        = f.button 'Стерти', class: "btn btn-default"
        = f.submit 'Зберегти', class: "btn btn-primary"