.container
  .jumbotron
    .container
      %h1 Візьми друга з притулку
      %p Великий вибір домашніх улюбленців.
      %a= link_to 'Дізнайся більше', animals_path
  .neighborhood-guides
    %h1 Новини

    %table.table.table-striped.table-hover.data_table
      %thead
        %tr
          %th ID
          %th Заголовок
          %th Дата
          %th Опис
          %th.unvisible
          %th.unvisible
          
      %tbody
        - @news.each do |news|
          %tr
            %td= news.id
            %td= news.title
            %td= news.date
            %td= news.text
            %td= image_tag (news.photo.url(:thumb))
            %td= link_to 'Показати', news, class: "btn btn-xs btn-primary"

  /   .row
  /     .col-sm-4.col-md-4
  /       .thumbnail
  /         %img{:src => "http://4.bp.blogspot.com/_xVtD6O5U0s0/TFlzwBZosnI/AAAAAAAAArw/8SNiu30yIjo/s1600/DELTA+sanctuary.gif"}/
  /         .caption
  /         %h3 Вівчарка
  /         %p Інформація по викиненій з машини кавказькій вівчарці. Собака прооперована на ЛКП "Лев" за гроші Західно-українського товариства захисту тварин.
  /         %p
  /           %a= link_to 'Читати далі', animals_path
  /     .col-sm-4.col-md-4
  /       .thumbnail
  /         %img{:src => "http://theplanetd.com/images/animal-rescue-10.jpg"}/
  /         .caption
  /         %h3 Нові домівки у притулку
  /         %p Привезено нові деревяні буди для тварин
  /         %p
  /           %a= link_to 'Читати далі', animals_path 
  /     .row
  /     .col-sm-4.col-md-4.col-lg-3
  /       .thumbnail
  /         %img.image-size{:src => "http://www.savingpets.com.au/wp-content/uploads/Kitten_cage.jpg"}/
  /         .caption
  /         %h3 Нові домівки у притулку
  /         %p Привезено нові деревяні буди для тварин
  /         %p
  /           %a= link_to 'Читати далі', animals_path
  /     .col-sm-4.col-md-4.col-lg-3
  /       .thumbnail
  /         %img.image-size{:src => "http://media.lehighvalleylive.com/today_impact/photo/shelter-cats-ac620b2a67cf9c10.jpg"}/
  /         .caption
  /         %h3 Нові дітки притулку
  /         %p Привезено нові деревяні буди для тварин
  /         %p
  /           %a= link_to 'Читати далі', animals_path
  /     .col-sm-4.col-md-4.col-lg-3
  /       .thumbnail
  /         %img.image-size{:src => "https://images.indiegogo.com/file_attachments/708657/files/20140710125755-IMG_1361-kitty-condo.jpg?1405022275"}/
  /         .caption
  /         %h3 Нові домівки у притулку
  /         %p Привезено нові деревяні буди для тварин
  /         %p
  /           %a= link_to 'Читати далі', animals_path 

