%h1 Listing news

%table
  %thead
    %tr
      %th Name
      %th Title
      %th Content
      %th
      %th
      %th
      
  %tbody
    - @news.each do |news|
      %tr
        %td= news.name
        %td= news.title
        %td= news.content
        %td= link_to 'Show', news
        %td= link_to 'Edit', edit_news_path(news)
        %td= link_to 'Destroy', news, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New News', new_news_path
