= form_for @animal, html: {class: 'form-horizontal'} do |f|
  - if @animal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@animal.errors.count, "error")} prohibited this animal from being saved:"
      %ul
        - @animal.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :type, "Type*", class: "col-lg-2 control-label"
    .col-lg-7
    = f.text_field :type, class: "form-control"
  .form-group
    = f.label :name, "Name*", class: "col-lg-2 control-label"
    .col-lg-7
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :sex, "Sex*", class: "col-lg-2 control-label"
    .col-lg-7
    = f.text_field :sex, class: "form-control"
  .form-group
    = f.label :age, class: "col-lg-2 control-label"
    .col-lg-7
    = f.number_field :age, class: "form-control"
  .form-group
    = f.label :size, class: "col-lg-2 control-label"
    .col-lg-7
    = f.text_field :size, class: "form-control"
  .form-group
    = f.label :sterile, class: "col-lg-2 col-md-1 col-sm-1 col-xs-1 control-label"
    .col-lg-7.col-md-7.col-sm-7.col-xs-7
    = f.check_box :sterile
  .form-group
    = f.label :description, "description*", class: "col-lg-2 control-label"
    .col-lg-7
      = f.text_field :description, class: "form-control"
  .actions
  .form-group
    .col-lg-7.col-lg-offset-2
      %button.btn.btn-default{:type => "reset"} Reset
      = f.submit @button, class: "btn btn-primary"