= form_for @animal do |f|
  - if @animal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@animal.errors.count, "error")} prohibited this animal from being saved:"
      %ul
        - @animal.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :sex
    = f.text_field :sex
  .field
    = f.label :size
    = f.text_field :size
  .field
    = f.label :age
    = f.text_field :age
  .field
    = f.label :sterile
    = f.text_field :sterile
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
