.container
  %h2 Огляд тварин
  / = render "layouts/search_box"
  .panel.panel-default.col-lg-11
    = label :animal_type, "Вид"
    %select#animal-type-select{ :animal_type => "Вид"}
      %option{:value => ""}= "Байдуже" 
      %option{:value => "Кіт"}= "Кіт"
      %option{:value => "Собака"}= "Собака"  

    = label :sex, "Стать"
    %select#sex-select{ :sex => "Cтать"}
      %option{:value => ""}= "Байдуже" 
      %option{:value => "Самець"}= "Самець"
      %option{:value => "Самка"}= "Самка"      

    = label :age, "Вік"
    %select#age-select{ :age => "Вік"}
      %option{:value => ""}= "Байдуже" 
      %option{:value => "Малюк(<1 роки)"}= "Малюк(<1 роки)"
      %option{:value => "Молодий (1-3 роки)"}= "Молодий (1-3 роки)"      
      %option{:value => "Дорослий (>3 років)"}= "Дорослий (>3 років)"

    = label :size, "Розмір"
    %select#size-select{ :size => "Розмір"}
      %option{:value => ""}= "Байдуже" 
      %option{:value => "Малий (<10 кг)"}= "Малий (<10 кг)"
      %option{:value => "Середній (10-25 кг)"}= "Середній (10-25 кг)"      
      %option{:value => "Великий (> 25 кг)"}= "Великий (> 25 кг)"      

    = label :sterile, "Стерилізація"
    %select#sterile-select{ :sterile => "Стерилізація"}
      %option{:value => ""}= "Байдуже" 
      %option{:value => "Так"}= "Так"
      %option{:value => "Ні"}= "Ні"      

    / = f.submit "Пошук", class: "btn btn-default action search-button"
    %button.btn.btn-default.search-button.right Пошук

  / .data_table
  %table#animals.table.cell-border.table-striped.table-hover
    %thead
      %tr
        / %th ID
        %th Ім'я
        %th Вид
        %th Стать
        %th Розмір
        %th Вік
        %th Стерилізація
        %th Опис
        %th.unvisible
        %th.unvisible
    %tbody
      - @animals.each do |animal|
        %tr.animal
          / %td= animal.id
          %td= link_to(animal.name, animal)
          %td.animal-type= animal.animal_type
          %td.sex= animal.sex
          %td.size= animal.size
          %td.age= animal.age
          %td.sterile= animal.sterile
          %td= animal.description
          %td= image_tag (animal.photo.url(:thumb)) unless animal.photo.nil?
          %td= link_to 'Показати', animal, class: "btn btn-xs btn-primary"
