%h1 Listing animals

%table
  %thead
    %tr
      %th Type
      %th Name
      %th Sex
      %th Size
      %th Age
      %th Sterile
      %th Description
      %th
      %th
      %th
      
  %tbody
    - @animals.each do |animal|
      %tr
        %td= animal.type
        %td= animal.name
        %td= animal.sex
        %td= animal.size
        %td= animal.age
        %td= animal.sterile
        %td= animal.description
        %td= link_to 'Show', animal
        %td= link_to 'Edit', edit_animal_path(animal)
        %td= link_to 'Destroy', animal, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Animal', new_animal_path
