.container
  %h2 Огляд тварин
  = render "layouts/search_box"

  %table#animals.cell-border.table.table-striped.table-hover
    %thead
      %tr
        %th= sort_link(@q, :name, "Ім'я")
        %th= sort_link(@q, :animal_type, "Порода")
        %th= sort_link(@q, :sex, "Стать")
        %th= sort_link(@q, :size, "Розмір")
        %th= sort_link(@q, :age, "Вік")
        %th= sort_link(@q, :sterile, "Стерилізація")
        %th Опис
        %th
        %th
    %tbody
      - @animals.each do |animal|
        %tr
          %td= link_to(animal.name, animal)
          %td= animal.animal_type
          %td= animal.sex
          %td= animal.size
          %td= animal.age
          %td= animal.sterile
          %td= animal.description
          %td= image_tag (animal.photo.url(:thumb)) unless animal.photo.nil?
          %td= link_to 'Показати', animal, class: "btn btn-xs btn-primary"

  .col-md-4
    .thumbnail
      / = image_tag(@news.image_url, :size => "260x180")
      = image_tag("http://davisenterprise.s3.amazonaws.com/files/2011/06/Cats2W.jpg", size: "350")
      %h3 Кіт
      %p Поглянь який чудовий котик чекає на свого господаря.
      %p
        %a{:href => "#"} Читати далі 
    .thumbnail
      = image_tag("https://cbsnewyork.files.wordpress.com/2012/03/71524176.jpg?w=620&h=349&crop=1", size: "350")
      %h3 Кіт
      %p Поглянь, який чудовий котик чекає на свого господаря.
      %p
        %a{:href => "#"} Читати далі
  .col-md-4
    .thumbnail
      = image_tag("http://www.heardcitizen.com/wp-content/uploads/2012/10/ul_animal_shelter_cat+Z.jpg", size: "350")
      %h3 Кіт
      %p Поглянь який чудовий котик чекає на свого господаря.
      %p
        %a{:href => "#"} Читати далі
    .thumbnail
      = image_tag("http://www.examiner.com/images/blog/EXID15696/images/North-Royalton-Ohio-Cat-Shelter-Stay-A-While.jpg", size: "350")
      %h3 Кіт
      %p Поглянь який чудовий котик чекає на свого господаря.
      %p
        %a{:href => "#"} Читати далі