%p#notice= notice

%p
  %b Порода:
  = @animal.type
%p
  %b Ім'я:
  = @animal.name
%p
  %b Стать:
  = @animal.sex
%p
  %b Розмір:
  = @animal.size
%p
  %b Вік:
  = @animal.age
%p
  %b Стерилізація:
  = @animal.sterile
%p
  %b Опис:
  = @animal.description

= link_to 'Редагувати', edit_animal_path(@animal)
\|
= link_to 'Назад', animals_path
