%p#notice= notice

%p
  %b Type:
  = @animal.type
%p
  %b Name:
  = @animal.name
%p
  %b Sex:
  = @animal.sex
%p
  %b Size:
  = @animal.size
%p
  %b Age:
  = @animal.age
%p
  %b Sterile:
  = @animal.sterile
%p
  %b Description:
  = @animal.description

= link_to 'Edit', edit_animal_path(@animal)
\|
= link_to 'Back', animals_path
