%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-2", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Навігація
        %span.icon-bar
    #bs-example-navbar-collapse-2.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Притулок', home_path, class: "navbar-brand"
        %li= link_to 'Новини', admin_news_index_path
        %li= link_to 'Тварини', admin_animals_path
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Контакти', contacts_path
        %li
          - if admin_signed_in?
            = link_to "#{current_admin.username} | Вихід", destroy_admin_session_path, method: :delete
          - else
            = link_to "Логін", new_admin_session_path