%footer.row.logoes
  %ul.social-network.col-lg-3.col-md-3.col-sm-3
  %ul.social-network.col-lg-6.col-md-6.col-sm-6
    %li.logo.fb
      %a{:href => "//www.facebook.com/Shelter?fref=ts"}
        = image_tag("facebook-footer.svg")
    %li.logo.lind
      %a{:href => "//www.linkedin.com/", :target => "_blank"}
        = image_tag("linkedin-footer.svg")
    %li.soft
      %p
        © Shelter, #{Time.now.year}
  #admin_nav
    - if admin_signed_in?
      Logged in as
      = succeed "." do
        %strong
          = current_admin.username
      = link_to "Адмін. частина", admin_animals_path
      |
      = link_to "Вийти", destroy_admin_session_path, method: :delete