<div class="row">
	<div class="col-lg-8 col-md-8 col-sm-7 col-xs-8">
	<div>
		<% unless @conference.nil? || @conference.id.nil? %>
			<% buttons_class = get_active_button %>
			<ul class="nav nav-pills" id='conference_nav_buttons>'>
				<li class='<%= buttons_class[0] %>' id='about_button' ><%= link_to "About", about_conference_path(@conference.route) %></li>
				<li class='<%= buttons_class[1] %>' id='speakers_button' ><%= link_to "Speakers", speakers_conference_path(@conference.route)%></li>
				<li class='<%= buttons_class[2] %>' id='schedule_button'><%= link_to "Schedule", schedule_conference_path(@conference.route)%></li>
					<% unless(@conference.location.nil?) %>
				<li class='<%= buttons_class[3] %>' id='location_button'><%= link_to "Location", location_conference_path(@conference.route)%></li>
					<% end %>
					<% unless(@conference.report.nil?) %>
				<li class='<%= buttons_class[4] %>' id='report_button'><%= link_to "Report", report_conference_path(@conference.route)%></li>
					<% end %>
			</ul>
		<% end %>
	</div>
	<div class="blockquotes-container">
				<blockquote class="pull-right">
					<h4>It takes all the running you can do, to keep in the same place.<br>If you want to get somewhere else, you must run at least twice as fast as that!</h4>
					<small>Red Queen</small>
				</blockquote>
	</div>
	</div>		
		<div class="col-lg-4 col-md-4 col-sm-5 col-xs-4 logo-img" >
			<%= image_tag("pacemaker_logo.png") %>
		</div>
</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input class="form-control" placeholder="Search" type="text">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</nav>