.row
  .col-lg-1.col-md-1.col-sm-1.col-xs-1
  .col-lg-4.col-md-4.col-sm-4.col-xs-4
    = image_tag("title.jpg")
  .col-lg-6.col-md-6.col-sm-6.col-xs-6.logo-img
    = image_tag("logo.jpg")
%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
      %ul.nav.navbar-nav
        %li
          = link_to " Притулок", home_path, class: "glyphicon-home"
        %li.active
          = link_to " Новини", all_news_path, class: "glyphicon-envelope"
        %span.sr-only (current)
        %li
          = link_to " Волонтерство", all_animals_path, class: "glyphicon-user"
        %li
          = link_to "Тварини", all_animals_path
        %li
          = link_to "Контакти", contacts_path
        %li
          = link_to "Про нас", contacts_path
    %form.navbar-form.navbar-right{:role => "search"}
      .form-group
        %input.form-control{:placeholder => "Search", :type => "text"}/
        %button.btn.btn-default{:type => "submit"} Пошук
